/* css styles */

.about {
  width: 110%; /* adjust to your preferred width */  
  margin: auto;
}

.cv {
  width: 100%; /* adjust to your preferred width */  
  margin: auto;
}
.research {
  width: 100%; /* adjust to your preferred width */  
  margin: auto;
}
.art {
  width: 100%; /* adjust to your preferred width */  
  margin: auto;
}
